<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codewhy.mapper.LabMapper">

    <!--  添加实验室  -->
    <insert id="addLab">
        insert into sys_lob ( lab, serail, count, remark, gmt_create, gmt_modified) values
                            (#{lab},#{serail},#{count},#{remark},now(),now())
    </insert>

    <!-- 基于实验室编号统计记录条数-->
    <select id="queryLabCountBySerail" resultType="java.lang.Integer">
        select count(id) from sys_lob where serail = #{serail}
    </select>

    <!--  根据实验室名称查询实验室  -->
    <select id="queryLabs" resultType="com.codewhy.entity.Lab">
        select * from sys_lob
            <where>
                <if test="lab != null and lab !=''">
                    lab like concat('%',#{lab},'%')
                </if>
            </where>
    </select>
</mapper>